<div class="profile">
    <h1>Informacion Personal</h1>
    <h2>Nombre Completo</h2>
    <p>{{nombre}}. <button class="btn">{{#if nombre}}update{{else}}agregar{{/if}}</button></p>
    <h2>Cumpleaños</h2>
    <p>{{cumple}}</p>
    <h2>Genero</h2>
    <p>{{genero}}</p>
    <h2>Email</h2>
    <p>{{mail}}. <button class="btn">{{#unless mail}}agregar{{else}}update{{/unless}}</button></p>
    <h2>Contraseña </h2>
    <p>{{contra}} .<button class="btn">{{#if contra}}update{{else}}agregar{{/if}}</button></p>
</div>