<div class="subscription ">
      <h1>Subscripcion</h1>
      <h2>Fecha fin suscripcion</h2>
      <p> {{fecha}} ( {{estadoSuscripcion fecha}} )<button class="btn">pay now</button></p>
      <h2>Proximo precio</h2>
      <p>${{precioSig}}<span> includes tax</span></p>
      <h2>Plan</h2>
      <p> {{plan}}<button class="btn">change plan</button></p>
      <h2>Add-ons</h2>
      <p>{{adicionales}} <button class="btn">manage</button></p>
      <h2>Precio Total </h2>
      <p>${{precio}}/mes</p>
</div>